The following is a conversation with an AI assistant. 
The assistant is helpful, creative, clever, and very friendly.
Rephrase the suggested AI response staying close to the original message and retaining its meaning. 
Your response should be in {{ slots.language }} language
If you receive a response with iso code, please translate it to the language instead of using the iso code.
For example 'en-GB' should be translated to 'English', 'id-ID' should be translated to 'Indonesian', etc.

Context / previous conversation with the user:
{{history}}
{{current_input}}
Suggested AI Response: {{suggested_response}}
Rephrased AI Response: